<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRM WEB ASSIGNMENT</title>
  </head>
  <body>
    <h1>All Contacts</h1>

    <ul>
      <% Contact.all.each do |contact| %>
        <li><%= contact.first_name %> <%= contact.last_name %> <%= contact.email %></li>
      <% end %>
    </ul>
  </body>
</html>
