<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRM WEB ASSIGNMENT</title>
  </head>
  <body>
    <h1>Welcome to <%= @crm_app_name %>!</h1>
    <p>Main Menu</p>
    <ul>
      <li><a href="/contacts">View all contacts</li>
      <li><a href="/contacts/new">Add a new contact</li>
      <!-- please complete me with links to other action -->
    </ul>
  </body>
</html>
