<!DOCTYPE html>
<html>
  <head>
    <meta charset= "utf-8">
    <title>CRM WEB ASSIGNMENT</title>
    <link rel= 'stylesheet' type= 'text/css' href= '/styles.css'>
  </head>
  <body>
    <header>
      <!-- <img class="logo" src="logo.jpg" alt="logo"> -->
      <a href="/"><img src= "/logo.jpg" alt= "logo"></a>
      <h1><%= @crm_app_name %>BitmakerLabs CRM!</h1>
    </header>
    <nav>
      <p>Main Menu</p>
      <ul>
        <li><a href= "/">Home</a></li>
        <li><a href= "/contacts">View all contacts</a></li>
        <li><a href= "/contacts/new">Add a new contact</a></li>

        <!-- please complete me with links to other action -->
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer>
      &copy;this is made by david moon
    </footer>
  </body>
</html>
