<h2>Create New Contact</h2>

<form action='/contacts' method='post'>
  <input type='text' name='first_name' placeholder="first_name">
  <input type='text' name='last_name' placeholder="last_name">
  <input type='text' name='email' placeholder="email">
  <input type='text' name='note'placeholder="note">
  <input type='submit' value='New Contact'>
</form>
