/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font */
body {
  font-family: "franklin-gothic-urw", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

/* Page Structure */
header, nav, main, footer{
  margin: 20px auto;
  width: 900px;
  text-align: center;
}

header {
  text-align: center;
}

img {
  width: 45px;
  height: 45px;
}

h1 {
  color: #007aff;
  font-size: 3em;
}

nav {
  text-align: center;
  font-color: #000000;
}

nav p {
  font-size: 1.5em;
}

ul {
  list-style-type: none;
}


li a {
  /*display: block;*/
  text-decoration: none;
  font-size: 1.4em;
}

li a:hover {
  background-color: #007aff;
  color: #ffffff;
}

a:visited {
  color: #007aff;
}

footer {
  border: .4px solid #007aff;
  text-align: center;
  font-size: .7em;
}

/* Main */
  /* All Contacts */
main h2 {
  color: #007aff;
  font-size: 2.6em;
}
main li {
  text-align: left;
  margin: 15px 200px;
  padding: 30px;
  border:  solid #007aff;
  background-color: #007aff;
  color: #ffffff;
}

.all li a {
  color: #ffffff;
  font-size: 1em;
}

.total li {
  display: inherit;
  color: #000000;
  font-size: 1.4em;
}

#totalcontact {
  color: #ffff00;
  text-decoration: underline;
}
  /* Create New Contact */
form {
  margin: inherit;
}

input[type='text'] {

  width: 150px;
  height: 30px;
}

input[type='submit'] {
  font-size: 1em;
  width: 120px;
  height: 30px;
  background-color: #ffffff;
  color: #007aff;
}

  /* Show Contact */
.show {
  margin: 15px 200px;
  padding: 30px;
  border: .5px solid #007aff;
  background-color: #007aff;
  color: #ffffff;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
